@import '@scss/service';

$mob: $sm;
$tab: $xxs, $xl;

.fieldsContainer {
  width: 100%;
  // max-width: 420px;
  margin: auto;
  @include respond(xs) {
    width: 100%;
  }
}

.authorization {
  width: 100%;
  // max-width: $sm;
  text-align: center;

  .fieldset {
    border: none;
    padding: 0;
    display: grid;
    grid-row-gap: 8px;

    @include respond(xs) {
      width: auto;
    }
  }

  .inputRedesign {
    @extend %input-redesign;
  }

  .loan {
    &ButtonWrap {
      display: flex;
      min-height: 59px;
      margin-top: 8px;
      background-color: $white;
    }

    &Button {
      @extend %button-gradient;
      margin: auto;
    }

    //immitation of LoanObtainingButton
    &ButtonBottom {
      position: fixed;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 0;
      background-color: $white;
      transition: all 0.2s ease;

      &.show {
        display: block;
        max-height: 104px;
      }

      .holder {
        display: flex;
        padding: 0;
        height: 104px;
        @include respond(sm) {
          padding: 0 16px;
          height: 88px;
        }
      }
    }
  }
}

.policyTab {
  width: 100%;
  text-align: justify;
  font-size: 12px;
  color: $re-gray;
  margin-top: 8px;

  a {
    color: $re-blue;
    text-decoration: underline;

    &:hover {
      color: $re-blue-dark;
    }
  }
}

.marketingConfirmation {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  color: $re-gray;

  // & .agree_check {
  //   margin-top: 0.2em;
  // }

  & .agree_text {
    text-align: justify;

    .link {
      color: $blue;
    }
  }
}

.loyaltyCode {
  margin-top: 8px;
  background-color: $white;
}
