@import '@scss/service/';
$mob: $sm;
$tab: $xxs, $xl;

.section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 100%;
  max-width: $re-xl;
  margin: 40px auto 80px;
  @include respond($re-xl) {
    padding: 0 16px;
  }
  @include respond($tab) {
    margin: 16px auto 48px;
    padding: 0 16px;
  }
}

.arrow {
  &Prev {
    display: flex;
    align-items: center;
    @include respond($mob) {
      display: none;
    }
  }
  &Next {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    @include respond($mob) {
      display: none;
    }
  }
}

.contentWrap {
  width: 100%;
  position: relative;
  display: flex;
  margin: 0 58px;
  column-gap: 54px;
  @include respond($tab) {
    flex-direction: column;
    margin: 0;
    row-gap: 40px;
  }
  @include respond($mob) {
    row-gap: 16px;
  }
}

.bannerWrap {
  width: 100%;
  @include respond($tab) {
    position: inherit;
  }
}

.banner {
  position: relative;
  width: 100%;
  max-width: $re-xl - 116px;
  min-height: 475px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @include respond($tab) {
    padding: 0;
    max-width: $md;
  }
  @include respond($mob) {
    max-width: 360px;
    min-height: 312px;
  }
}

.main {
  &Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &TextWrap {
    margin-top: 48px;
    width: 100%;
    max-width: 448px;
    @include respond($mob) {
      margin-top: 0;
    }
  }

  &Text {
    font-size: 48px;
    color: $re-blue;
    margin: 0;
    font-weight: 700;
    line-height: 130%;
    @include respond($mob) {
      font-size: 24px;
    }
    @include respond(340px) {
      font-size: 21px;
    }

    * {
      line-height: 130%;
    }
  }

  &Image {
    flex-grow: 1;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @include respond($tab) {
      transform: none;
    }
    @include respond($mob) {
      width: 100%;
      max-width: 360px;
      justify-content: flex-end;
    }

    .img {
      position: relative;
      @include respond($mob) {
        max-width: 139px;
      }
    }
  }
}

.description {
  font-size: 14px;
  color: $re-gray-dark;
  width: 60%;
  @include respond($mob) {
    font-size: 12px;
    width: 55%;
  }

  br {
    display: none;
  }
}

.options {
  position: absolute;
  bottom: -68px;
  display: flex;
  width: 100%;
  font-size: 16px;
  row-gap: 18px;
  justify-content: space-between;
  @include respond($mob) {
    flex-direction: column;
    bottom: -44px;
  }

  .option {
    display: flex;
    &-0 {
      @include respond($mob) {
        justify-content: left;
      }
    }
    &-1 {
      @include respond($mob) {
        justify-content: center;
      }
    }
    &-2 {
      @include respond($mob) {
        justify-content: right;
      }
    }

    .iconWrap {
      display: flex;
      align-items: center;
    }

    .icon {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px 0px 0px 32px;
      padding: 16px 8px;
      @include respond($mob) {
        width: 32px;
        height: 32px;
        padding: 8px 8px;
      }

      &-blue {
        background: $re-blue;
      }
      &-red {
        background: $re-red;
      }
      &-yellow {
        background: $re-yellow;
      }
    }

    .text {
      display: flex;
      height: 72px;
      padding: 24px 16px;
      align-items: center;
      text-align: left;
      border-radius: 0px 8px 8px 0px;
      background: $re-gray-light;
      @include respond($mob) {
        height: 48px;
      }
    }
  }
}

.productSelector {
  flex-shrink: 0;
  z-index: 1;
}
